/* Resolução Notebook 
  1920 x 1080
*/

/* Importa Font Inter */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700; /* Define o peso bold */
  font-style: normal; /* O estilo é normal, pois não é itálico */
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* Fim Importação Font */

body {
  width: 100vw;
  font-family: "Inter", Arial, sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Linha-01 */
.header-div-lin01 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 1.4%; /*Adicionando um padding para garantir que o conteúdo não fique colado nas bordas*/
}

.header-div-lin01-span {
  font-size: calc(1vw + 8px);
}

.header-div-lin01-div-icons {
  font-size: calc(1vw + 8px);
}

/* Linha-02 */
.header-div-lin02 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%; /*Adicionando um padding para garantir que o conteúdo não fique colado nas bordas*/
}

.header-div-lin02-icon {
  font-size: calc(3vw + 8px);
}

.header-div-lin02-div-logo {
  width: 30%;
  display: flex;
  align-items: center;
  column-gap: 2%;
}

.header-div-lin02-div-logo-img {
  width: 15%;
  height: auto;
  font-size: calc(1vw + 8px);
}

.header-div-lin02-div-logo-span {
  font-size: calc(3vw + 3px);
}

.header-div-lin02-div-search-registre {
  display: none;
}

.header-div-lin02-div-links {
  display: none;
}

.header-div-lin02-div-icons {
  width: 5%;
  font-size: calc(2vw + 8px);
  display: flex;
  justify-content: flex-end;
  column-gap: 30%;
}

/* Section Main */
.main {
  border: 1px solid yellow;
  width: 100%;
  height: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.main p {
  font-size: calc(1vw + 8px);
}

/* Section Footer */
.footer {
  background-color: #1f1f1f;
  color: white;
  margin-top: 1%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section-digital {
  margin-top: 2%;
  padding: 1%;
}

.footer-section-digital-div-logo {
  padding-left: 3%;
  width: calc(30% + 20px);
  height: auto; /* Mantém a proporção da imagem */
}

.footer-section-digital-div-paragrafo p {
  font-size: calc(1vw + 8px);
  padding: 2% 3% 3% 3%;
  text-align: justify;
}

.footer-section-digital-div-redesSociais {
  padding-left: 3%;
}

.footer-section-digital-div-redesSociais span {
  font-size: calc(1vw + 8px);
  margin-right: 3%; /* Adiciona espaço à direita entre os ícones */
}

.footer-section-informacoesCategorias {
  width: 100%;
  padding: 3%;
  display: flex;
  column-gap: 15%;
}

.footer-section-informacoesCategorias-div-informacoes h2 {
  margin-bottom: 10%;
  font-size: calc(2.5vw + 8px);
}

.footer-section-informacoesCategorias-div-informacoes-div-anchors {
  display: flex;
  flex-direction: column;
}

.footer-section-informacoesCategorias-div-informacoes-div-anchors a {
  margin-bottom: 10%;
  font-size: calc(1.2vw + 8px);
}

.footer-section-informacoescategorias-div-categorias h2 {
  margin-bottom: 10%;
  font-size: calc(2.5vw + 8px);
}

.footer-section-informacoesCategorias-div-categorias-div-anchors {
  display: flex;
  flex-direction: column;
}

.footer-section-informacoesCategorias-div-categorias-div-anchors a {
  margin-bottom: 10%;
  font-size: calc(1.2vw + 8px);
}

.footer-section-contatos {
  width: 100%;
  padding: 0 3% 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-section-contatos h2 {
  margin-bottom: 3%;
  font-size: calc(2.5vw + 8px);
}

.footer-section-contatos p {
  margin-bottom: 3%;
  font-size: calc(1.2vw + 8px);
}

.footer-section-final {
  margin: 5% 0 5% 0;
  width: 100%;
  height: 6vh; /* Mantém a proporção da imagem */
  font-size: calc(1vw + 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section-final hr {
  margin-bottom: 5%;
  width: 90%;
}

.footer-section-final span {
  margin-bottom: 2%;
}
